.container{
    width: 40%;
    margin-top: 50px;
    background-color: #012727d7;
    border: none;
    padding: 30px;
    border-radius: 10px;
}
h2{
    text-align: center;
    color: white;
}
.formGroup{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: auto;
    justify-content: center;

}

button{
    width: 70px;
    height: 40px;
    background:none;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 10px;
    font-weight: bold;
}
.form-controle{
    width: 200px;
    border: 1px solid black;
    background: white;
}